.theme-wrapper {
  &_light {
    --background-color: rgb(246, 246, 246);
    --text-color: rgb(15, 23, 42);
    --inverted-color: rgb(15, 23, 42);
  }

  &_dark {
    --background-color: rgb(15, 23, 42);
    --text-color: rgb(246, 246, 246);
    --inverted-color: rgb(246, 246, 246);
  }
}

.wrapper {
  width: 100vw;
  height: 100vh;
  font-family: "Titillium Web";
}

.link{
  position: relative;
  
  &::after {
      content: '';
      position: absolute;
      height: 2px;
      left: 50%;
      bottom: 0;
      width: 0;
      background-color: var(--text-color);
      transition: all 0.3s;
  }

  &:hover::after {
      width: 100%;
      left: 0;
  }
}
