.theme-wrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  transition: 0.3s ease-in-out;

  &_light {
    --background-color: rgb(246, 246, 246);
    --accent-color: rgb(57, 117, 255);
    --text-color: rgb(15, 23, 42);
    --border-color: rgba(61, 71, 81, 0.302);
    --inverted-color: rgb(15, 23, 42);
  }

  &_dark {
    --background-color: rgb(24, 27, 34);
    --accent-color: rgb(57, 117, 255);
    --text-color: rgb(246, 246, 246);
    --border-color: rgba(61, 71, 81, 0.302);
    --inverted-color: rgb(246, 246, 246);
  }
}
.wrapper {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  line-height: 1.17;
  font-weight: 600;
  margin: 8px 0;
  transition: 0.3s ease-in-out;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

.h1 {
  font-size: 72px;
  font-weight: 600;
}

.h2 {
  font-size: 60px;
  font-weight: 600;
}

.h3 {
  font-size: 48px;
  font-weight: 600;
}

.h4 {
  font-size: 36px;
  font-weight: 600;
}

.h5 {
  font-size: 24px;
  font-weight: 600;
}

.h6 {
  font-size: 18px;
  font-weight: 600;
}

p {
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}

.p {
  font-size: 18px;
  font-weight: 400;
}

.subtitle-wrapper,
.headline-wrapper {
  max-width: 800px;
  // display: flex;
  // flex-direction: column;

  // &_left {
  //   justify-content: left;
  // }

  // &_right {
  //   justify-content: right;
  // }

  // &_center {
  //   justify-content: center;
  // }
}

.text-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;

  &_left {
    justify-content: left;
  }

  &_right {
    justify-content: right;
  }

  &_center {
    justify-content: center;
  }
}
