.block-editor {
  &__wrapper {
    position: relative;
  }

  &__features {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
