.custom-form {
  width: 100%;
  border: 3px dashed var(--border-color);

  &__area {
    padding: 5px;
    width: 100%;
    height: 100%;
    text-align: center;
    resize: none;
  }

  &__input {
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
