.accordion-wrapper {
  width: 100%;
  padding: 25px 0;

  &__tab {
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
  }

  &__info {
    width: 100%;

    &_hidden {
      max-height: 0px;
      overflow: hidden;
      transition: 0.3s ease-in-out;
    }

    &_visible {
      max-height: 200px;
      overflow: visible;
      transition: 0.3s ease-in-out;
      background-color: yellow;
    }
  }

  &__button {
    width: 25px;
    height: 25px;
    background-color: transparent;

    &_hidden {
      img{
        transition: 0.3s ease-in-out;
      }
    }
    &_visible {
      img{
        transition: 0.3s ease-in-out;
        transform: rotate(-180deg);
      }
    }
  }
}
