.editable-element {
  position: relative;
  width: 100%;
  height: auto;

  &__text-area {
    padding: 10px 5px;
    width: 100%;
    height: 100%;
    line-height: 120%;
    text-align: center;
    resize: none;
    overflow: hidden;
    background-color: transparent;
    background-color: rgba(236, 236, 236, 0.651);
  }

  &__button{
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-color: transparent;

    svg{
      width: 20px;
      height: 20px;
    }
  }
}
