.header {
  width: 100%;
  height: 75px;
  background-color: white;
  padding: 10px;
  background-color: var(--background-color);
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid rgb(232, 234, 238);

  &-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
